
body {
    margin: 0;
}

#home {
    display: grid;
    grid-template-areas: 
        "leftBar header rightBar"
        "leftBar flowers rightBar"
        "leftBar footer rightBar"
        ;
    min-height: 900px;

}

#home div {
    padding: 5px;
    margin: 0;
}

.leftBar { 
    grid-area: leftBar;
    background-color: red;
    width: 5px;
}

.header { 
    grid-area: header;
    background-color: blue;
    justify-content: start;
    width: 100%;
}
.flowers { grid-area: flowers; width: 100%;}
.footer { grid-area: footer; }
.rightBar { 
    grid-area: rightBar;
    background-color: red;
    width: 10px;
    justify-content: end;
}


