/* General Styles */
body {
    text-align: center;
    color: white;
    font-family: 'Arial';
    margin: 0;
}

.home {
     background-image: url(images/backRepeater.jpg);
}

p { 
    color:white; 

}

h1 {
    text-align: center;
    font-size: 100px;
}

/* Main Wrappers */

#container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    text-align: center;
    /*grid-template-columns: repeat(12, 1fr);*/
    grid-template-areas: 
        "nav nav nav nav"
        "footer footer footer footer"
        "header header header header"
        ". th1 th1 ."
        ". th2 th2 ."
        ". th3 th3 ."
        ". th4 th4 ."
    ;

    grid-column-gap: 10px;
    /*grid-row-gap: 10px;*/
    /*grid-gap: 10px;*/
}

@media screen and (min-width: 760px) {
    
    #container {
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        text-align: center;
        /*grid-template-columns: repeat(12, 1fr);*/
        grid-template-areas: 
            "nav nav nav nav"
            "header header header header"
            ". th1 th2 ."
            ". th3 th4 ."
            "footer footer footer footer"
        ;

        grid-column-gap: 2px;
        /*grid-row-gap: 10px;*/
        /*grid-gap: 10px;*/
    }
    
    #home-container {
        display: grid; 
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        max-width: 100%;
        margin: 0 auto;
    }
    
}

#container div {
    /*padding: 30px;*/
}

/* Navigation */


/* Work Page Navigation */
.wrap-nav {
    /*grid-column: 1 / span 12;*/
    grid-area: nav;
    background-color: black;
    padding: 20px;
}

.wrap-nav p {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 5px;
    margin-left: 25px;
    text-align: left;
    font-weight: bold;
}

/* home navigation */
.home-nav {
    grid-column: 1 / 6;
    background-color: black;
    padding: 20px;
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
}

.home-nav div {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 5px;
    margin-left: 25px;
    text-align: left;
    font-weight: bold;
}

.navItem1 {grid-column: 2 / 2;}
.navItem2 {grid-column: 4 / 4; justify-self: end;}
.navItem3 {grid-column: 5 / 5; justify-self: end;}
.navItem4 {grid-column: 6 / 6; justify-self: end;}

.navItem2 a, .navItem3 a, .navItem4 a {
    color: darkgray;
    text-decoration: none;
}

.navItem2 a:hover, .navItem3 a:hover, .navItem4 a:hover {
    color: white;
}

/* Header and Footer */
.wrap-header {
    grid-area: header;
    height: 300px;
    background-color: crimson;
    background-image: url(work/images/hco-header.png);
    background-position: center;
}
.wrap-footer {
    grid-area: footer;
    height: 70px;
    background-color: black;
    margin-top: 10px;
}

.home-footer {
    grid-column: 1 / 6;
    margin-top: 100px;
    height: 50px;
}

/* Home Page */


.item-home01 img {
    width: 250px;
}

.item-home02 img {
    width: 250px;
}

.item-home03 img {
    width: 250px;
}

.item-home01 {
    grid-column: 2 / 2;
    margin-left: 155px;
    transform: rotateZ(-45deg);
    margin-top: 50px;
}

.item-home02 {
    grid-column: 2 / 2;
    transform: rotateZ(-45deg);
}

.item-home03 {
    grid-column: 3 / 3;
    transform: rotateZ(-45deg);
    margin-left: -60px;
}

/* Thumbnail Gallery - Work Pages */

.wrap-th1, .wrap-th2, .wrap-th3, .wrap-th4 {
    margin-top: 10px;
    
}

.wrap-th1 {
    grid-area: th1;
}
.wrap-th2 {
    grid-area: th2;
}
.wrap-th3 {
    grid-area: th3;
}
.wrap-th4 {
    grid-area: th4;
}



